body {
  background-color: black;
  font-family: "Neucha", cursive;
}

.videobackground {
  position: absolute;
  z-index: -2;
  margin-top: -250px;
}

.vidcontainer {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 250px;
  margin: auto;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.65);
}
main {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1280px;
  margin: auto;
  margin-top: 5px;
  padding-top: 0px;
}

main h4 {
  font-family: "Neucha", cursive;
  color: #8eb09b;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 6px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: rgba(39, 41, 39, 0.6);
}

main h5 {
  color: #dfeae3;
  font-family: "Encode", sans-serif;
  font-weight: 300;
  font-size: 1em;
  padding-left: 10px;
}

.pagetitle h3 {
  color: #8eb09b;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 2em;
  font-family: "Passion One", cursive;
  font-weight: 100;
  text-align: center;
}

.pagetitle h1 {
  color: #dfeae3;
  margin-top: 0px;
  font-size: 4em;
  font-family: "Passion One", cursive;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0px 10px 10px black;
}

.leaguenav-hr {
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9);
  top: 190px;
  width: 100%;
  height: 4px;
  margin: 0px;
  padding: 0px;
}
.leaguenav {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-family: "Neucha", cursive;
  top: 197px;
  width: 100%;
  height: 40px;
  padding-bottom: 10px;
}

.menuitem {
  margin-left: 10px;
  margin-right: 10px;
}

.menuitem a {
  color: white;
  text-decoration: none;
}

.menuitem a:hover {
  color: lime;
}

.leadersummary {
  color: white;
}

.lakedisplay {
  display: flex;
  flex-wrap: wrap;
}

.lake-week {
  color: #8eb09b;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: -30px;
}

.weekly-lake-header {
  color: #8eb09b;
  width: 100%;
  font-family: "Passion One", cursive;
  font-size: 1.5em;
  text-align: center;
  margin-top: 40px;
}

.lakenumber-left {
  background-color: red;
  width: 25px;
  height: 30px;
  right: -15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  z-index: 1;
}

.lake-week-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Passion One", cursive;
  height: 30px;
  width: 30px;
  background-color: #8eb09b;
  color: black;
  border-radius: 50%;
  border: solid 3px black;
  z-index: 2;
}

.lake-name {
  background-color: rgb(39, 41, 39);
  color: white;
  width: 70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 10px 5px 20px;
  left: -15px;
  position: relative;
  z-index: 1;
}

.lake-name a {
  color: white;
}

.teamcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5px;
}

.team {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 20%;
}
.teamheader {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 7.5% 17.5%;
}

.teamheader h5 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  font-family: "Neucha", cursive;
  font-weight: bolder;
  font-size: 1.3em;
  margin-top: 10px;
}

.teamheader h4 {
  font-size: 1em;
}

.rank {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 7;
  color: white;
}

.ranknumber {
  display: flex;
  align-items: center;
  background-color: darkred;
  border: 1px solid white;
  box-shadow: 0 0 10px red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.ranknumber h3 {
  color: white;
  width: 100%;
  text-align: center;
  font-family: "Passion One", cursive;
  font-size: 1.5em;
}

.rank p {
  font-family: "Neucha", cursive;
  font-size: 0.8em;
  margin-top: 5px;
}

.topTen {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 9;
  width: 100%;
  padding-right: 10px;
  margin-left: auto;
  color: lime;
  font-family: "Neucha", cursive;
  background-color: rgba(39, 41, 39, 0.6);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.topTen p {
  text-align: right;
  width: 100%;
}

.teamname {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 8;
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
  color: #8eb09b;
  margin: 0px;
}

.topTen-points {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 8;
  grid-row-end: 9;
  margin-left: 10px;
  color: white;
  font-family: "Neucha", cursive;
  background-color: rgba(39, 41, 39, 0.6);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.teamimage {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  width: 100%;
  border: 2px solid #8eb09b;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #8eb09b;
}

.teamstats {
  width: 100%;
  height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(72, 90, 71);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 10px;
}

.hidden-rank {
  display: none;
}

#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #8eb09b;
}

#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: #8eb09b;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: rgb(39, 41, 39);
}

.teamstats h5 {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
  color: #8eb09b;
  font-family: "Encode", sans-serif;
  margin: 0px;
}

.weeklystats {
  color: #8eb09b;
  background-color: black;
  border: 1px solid rgb(72, 90, 71);
  margin: 0px;
  padding-right: 0px;
}

.week {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 0px;
  padding: 4px 10px;
  font-family: "Neucha", cursive;
  font-size: 0.8em;
}
.statrow {
  display: grid;
  grid-template-columns: 30% 40% 25%;
}
.statrow:nth-of-type(2n + 1) {
  background-color: rgb(39, 41, 39);
}

.score {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 0px;
  padding: 4px;
  font-family: "Neucha", cursive;
  font-size: 0.8em;
}

.points {
  grid-column-start: 3;
  grid-column-end: 4;
  margin: 0px;
  padding: 4px;
  font-family: "Neucha", cursive;
  font-size: 0.8em;
}

.photo-board-header {
  color: #8eb09b;
  font-family: "Neucha", cursive;
  font-size: 2em;
  letter-spacing: 1px;
}

.footersocial {
  display: flex;
  justify-content: center;
  color: #8eb09b;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 2px solid #8eb09b;
}

.footer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

.socialicon {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}
.socialicon .dashicons {
  font-size: 2em;
}

.mass-edit {
}

table.mass-edit td * {
  font-size: 0.7em;
}

.weekly-results {
  display: flex;
  flex-direction: column;
  color: #8eb09b;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.weekly-results-title {
  color: white;
  font-family: "Passion One", cursive;
  font-size: 1.25em;
  padding-bottom: 5px;
}

.weekly-results-teams {
  display: flex;
  flex-direction: row;
}

.wrt-1 {
  background-color: #8eb09b;
  color: black;
  width: 160px;
  padding: 5px 10px;
  border-top: 1px solid black;
  border-left: 10px solid red;
}

.wrt-1-nobordertop {
  background-color: #8eb09b;
  color: black;
  width: 160px;
  padding: 5px 10px;
  border-left: 10px solid red;
}

.wrt-2 {
  width: 100px;
  padding: 5px 10px;
  border-top: 1px solid #8eb09b;
}

.wrt-3 {
  width: 100px;
  padding: 5px;
  border-top: 1px solid #8eb09b;
  border-right: 10px solid red;
}

.borderbottom {
  border-bottom: 1px solid #8eb09b;
}

.limecolor {
  color: lime;
}

@media screen and (max-width: 1190px) {
  .team {
    width: 30%;
  }
}

@media screen and (max-width: 800px) {
  .team {
    width: 40%;
  }
}

@media screen and (max-width: 610px) {
  .teamcontainer {
    flex-direction: column;
  }

  .team {
    width: 100%;
  }

  .pagetitle h1 {
    font-size: 3em;
  }

  .lakedisplay {
    font-size: 0.7em;
  }

  .lake-week {
    margin-left: -20px;
  }

  .lake-name {
    width: 50px;
  }

  .week-label {
    display: none;
  }
}
